@{
    ViewBag.Title = "Login";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login </title>

    <link href="~/Content/stylead.css" rel="stylesheet" />

</head>

<body>
    <div class="login-page">
        <div class="form">
            <p>
                @if (ViewBag.mgs != null)
                {
                    <h1>@ViewBag.mgs</h1>    }
            </p>
            <form class="login-form" action="/ProductAdmin/Login" method="post">
                <input type="text" placeholder="username" name="email" required />
                <input type="password" placeholder="password" name="password" required />
                <button type="submit">login</button>

            </form>
        </div>
    </div>
    <script src="~/Scripts/loginadjquery.minl.js"></script>


</body>
</html>
