

@using WebPPC.Models
@model List<ABOUTUS>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giới Thiệu</title>

    <link href="~/Content/abccc.css" rel="stylesheet" />
</head>
<body>
    <div class="page_container"
        <div class="wrap">

            <div class="container">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <h2>Giới thiệu</h2>
                <div >
                    Công ty bất động sản PPC Rental (PPC = Perfect Property Company) là
                    danh nghiệp hoạt động chuyên nghiệp trong lĩnh vực môi giới bất động sản trong
                    và ngoài nước. PPC Rental được phát triển dựa trên nền tảng là sự hiểu biết
                    sâu sắc về thị trường bất động sản tại TP Hồ Chí Minh.
                </div>
                <h2>Mục tiêu</h2>
                <div>
                    Website này được xem như một nơi để các chủ sở hữu có thể đưa
                    những dự án của mình để rao bán và người muốn mua sẽ dựa vào thông tin dự
                    án và mua.
                </div>
                <div></div>
                <h2 class="title">Những dự án nổi bật</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="max-lines">@item.aboutname</div>
                            <img src="/img/@item.aboutavt" class="img-responsive" />
                            <div class="max-line">@item.aboutcontent</div>
                            
                        </div>

                    }
                    
</body>
</html>
