@{
    ViewBag.Title = "Trang chủ";
}
@using WebPPC.Models

@model IEnumerable<WebPPC.Models.PROPERTY>
<style>
    .button {
        background-color: #1C1C1C;
        color: white;
        border-radius: 2px;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }

    #portfolio {
        padding-top: 25px;
        padding-bottom: 0;
    }
</style>
<section id="portfolio">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Danh sách dự án</h2>
                <h3 class="section-subheading text-muted">Perfect Property Company.</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.Status_ID == 3)
                {
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/img/@item.Avatar " alt="">
                        <div class="portfolio-caption">
                            <h4>@item.PropertyName.Substring(0, Math.Min(@item.PropertyName.Length, 20))</h4>
                            <p> @item.Content.Substring(0, Math.Min(@item.Content.Length, 50))</p>
                            <strong style="color:red; font-size: 140%">$@item.Price</strong>
                            <br>
                            <a class="button button5" href="/Project/Detail/@item.ID">Chi tiết</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
