
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <iframe src="http://cafef.vn/bat-dong-san.chn" name="binhnet" height="1000px" width="100%"></iframe>
</body>
</html>
