<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Tilte Admin Page </title>
    <link href="~/Content/8.css" rel="stylesheet" />
    <link href="~/Content/7.css" rel="stylesheet" />
    <link href="~/Content/6.css" rel="stylesheet" />
    <link href="~/Content/5.css" rel="stylesheet" />
    <link href="~/Content/4.css" rel="stylesheet" />
    <link href="~/Content/3.css" rel="stylesheet" />
    <link href="~/Content/2.css" rel="stylesheet" />
    <link href="~/Content/1.css" rel="stylesheet" />
    <script src="~/Scripts/4.js"></script>
    <script src="~/Scripts/3.js"></script>
    <script src="~/Scripts/2.js"></script>
    <script src="~/Scripts/1.js"></script>



    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


</head>

<body class="fixed-nav sticky-footer " id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Admin/ProductAdmin/Index">PPC Rental</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/Admin/ProductAdmin/Index">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        @RenderBody()
        <hr />
        <!-- /.content-wrapper-->
        <footer></footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <link href="~/Content/8.css" rel="stylesheet" />
        <script src="~/Scripts/10.js"></script>
        <script src="~/Scripts/5.js"></script>
        <script src="~/Scripts/6.js"></script>
        <script src="~/Scripts/7.js"></script>
        <script src="~/Scripts/8.js"></script>
        <script src="~/Scripts/9.js"></script>
        <script src="~/Scripts/11.js"></script>
        <script src="~/Scripts/12.js"></script>
        <script src="~/Scripts/13.js"></script>
        <script src="~/Scripts/14.js"></script>
        <script src="~/Scripts/15.js"></script>
        <script src="~/Scripts/16.js"></script>
        <script src="~/Scripts/17.js"></script>
        <script src="~/Scripts/18.js"></script>
        <script src="~/Scripts/19.js"></script>
        <script src="~/Scripts/20.js"></script>
        <script src="~/Scripts/21.js"></script>



    </div>
</body>
@RenderSection("scripts", required: false)
</html>
